<div class="projects-container">
  <div class="projects-content">
    <div class="projects-header">
      <h1 class="gradient-text">Projects</h1>
      <p>Some of my recent work and personal projects</p>
    </div>

    <div class="projects-grid" *ngIf="!loading">
      <div class="project-card glass" *ngFor="let project of projects">
        <div class="project-image" *ngIf="project.image">
          <img [src]="project.image" [alt]="project.name + ' screenshot'" />
        </div>
        <div class="project-content">
          <h3 class="project-title gradient-text">{{ project.name }}</h3>
          <p class="project-description">{{ project.description }}</p>
          
          <div class="project-tech">
            <span class="tech-tag" *ngFor="let tech of project.technologies">{{ tech }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="loading" *ngIf="loading">
      <div class="spinner"></div>
      <p>Loading projects...</p>
    </div>
  </div>
</div> 